

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   select.ng-invalid{
       border-left: 5px solid #ff0000;
       background-color: #FFEBD6;
   }

   select.ng-valid{
       background-color: #FFFFFF;
       border-left: 5px solid #088b0b;
   }

   a{
       text-decoration: none;
   }

   form{
       padding-top: 10px;
       padding-bottom: 10px;
   }
   .img-container{
       -webkit-border-radius:50%;
       -moz-border-radius:50%;
       border-radius:50%;
   }

   h5{
       font-size: 1.5em;
   }

   h6{
       font-size: 1.2em;
       padding-bottom: 10px;
   }
