<form class="form-horizontal">
   <div class="form-group">
      <label for="company" class="col s2 control-label">Company </label>
      <div class="col s7">
         <select ng-model="details.Company" ng-options="obj.id as obj.company for obj in companies" ng-change="getTraineeByCompany(); getTrainerByCompany(); getAllData()" class="form-control" ng-required="true" id="company">
            <option value="">Choose Company</option>
         </select>
      </div>
   </div>
   <div class="form-group">
      <label for="trainee" class="col s2 control-label">Trainee </label>
      <div class="col s7">
         <select ng-model="details.Trainee" ng-options="x.id as x.trainee for x in newTraineeList" class="form-control" id="trainee" ng-change="getAllData()">
            <option value="">Choose Trainee</option>
         </select>
      </div>
   </div>
   <div class="form-group">
      <label for="trainer" class="col s2 control-label">Trainer </label>
      <div class="col s7">
         <select ng-model="details.Trainer" ng-options="x.id as x.trainer for x in newTrainerList" class="form-control" id="trainer">
            <option value="">Choose Trainer</option>
         </select>
      </div>
   </div>
   <!--<div class="center">-->
      <!--<button class="waves-effect waves-light btn" ng-click="getAllData()">Submit</button>-->
   <!--</div>-->
</form>

<div class="row">
   <div ng-repeat="trainee in newData.Trainee" ng-show="showInitial">
      <div class="col s12 m6 l4">
         <div class="card">
            <div class="card-content black-text center">
                <img src="http://placehold.it/100x100" class="img-container"><br>
               <span class="card-title"><strong>{{trainee.trainee}}</strong></span>
               <hr>
               <h6>Company: {{newData.Company[0].company}}</h6>
               <hr>
               <div ng-repeat="cri in criteria">
                  <div ng-if="criteria_index == $index">
                     <h5>Criteria: {{cri}}</h5>
                     <h6>Status: {{trainee[cri]}}</h6>
                     <a href="#" class="waves-effect waves-light btn" ng-click="fail(cri, trainee.id)">Fail</a>
                     <a href="#" class="waves-effect waves-light btn" ng-click="pass(cri, trainee.id)">Pass</a>
                     <hr>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
